.container {
  background-color: #e3dada;
  width: 60%;
  margin: 40px auto 5px;
  padding: 50px;
  border-radius: 15px;
  font-family: "Raleway", sans-serif;
  color: #444040;
}

.credits {
  width: 60%;
  margin: 0 auto;
}
form,
button {
  text-align: center;
  font-weight: 300;
  font-size: 20px;
}

.city-form,
button {
  background-color: #efe8e8;
  border: 1px solid #b7aeae;
  border-radius: 15px;
  margin: 0 15px;
  outline: none;
}

.button,
button {
  background-color: #bfb3b3;
  border: 1px solid #afa1a2;
  border-radius: 15px;
  font-size: 18px;
  padding: 2px 15px;
  color: #444040;
}

button {
  display: block;
  margin: 20px auto;
}

.button:hover,
button:hover {
  background-color: #aa9496;
  cursor: default;
  transition: all 200ms ease;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 0;
  padding: 0;
}
li:first-letter {
  text-transform: capitalize;
}

#fahrenheit-temp,
#celsius-temp {
  text-decoration: none;
  color: #444040;
  cursor: default;
}

h1 {
  font-weight: 600;
  margin: 0 auto;
  font-size: 38px;
}
#date,
#temp-data {
  margin: 0 auto;
  font-size: 30px;
  font-weight: 500;
}

#weather-description {
  margin: 0 auto;
  font-size: 26px;
  font-weight: 400;
  font-style: italic;
}

#humidity,
#wind {
  font-size: 22px;
  font-style: italic;
  font-weight: 300;
  margin: 0 auto;
}
.col-6 {
  margin: 70px auto;
}

.city-data {
  text-align: left;
  padding-left: 17%;
}

.weather-image {
  text-align: right;
  padding-right: 17%;
  padding-top: 10px;
}

.col {
  text-align: center;
  padding: 20px 1%;
}

.card {
  background: #e2dada;
}

h5 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
}

.weather-ic {
  font-size: 34px;
  margin: 10px auto;
  color: #847b7b;
}

.temperature-day,
.temperature-night {
  font-style: italic;
  font-size: 20px;
}

.weather-ic:hover {
  color: #aa949a;
  cursor: default;
  transition: all 200ms ease;
}
